body{
    background-color: #0A090C;
}
.flex-container{
    display:flex;
    flex-direction: row;
    height: 500;
    padding-right: 25px;
    padding-bottom:25px;
}
h1{
    color: #f0edee;
    font-family: Lucida Sans Unicode;
    padding-left: 25px;
}
video{
    float: right;
    padding-left:25px;
}
p{
    color: #f0edee;
    font-family: Lucida Sans Unicode;
    padding-left: 25px;
    text-align:left;
}
.topnav {
  background-color: #4e6766;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f0edee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Lucida Sans Unicode;
}

.topnav a:hover {
  background-color: #A72608;
  color: #f0edee;
}

.topnav a.active {
  background-color: #A72608;
  color: white;
}